/* Your code here */
.so-many-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.numbers-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#div-1 {
  order: -2;
}
#div-2 {
  order: -1;
}
#div-4 {
  order: 0;
}
#div-5 {
  order: 1;
}
#div-6 {
  order: 2;
}

.orange-square {
  grid-column: 2/4;
  grid-row: 2/4;
}

#player-x {
  grid-area: center;
}

#player-o {
  grid-area: bottom-right;
}

@media screen and (min-width: 1000px) {
  #media-magic {
    background-color: orangered;
  }
}

@media screen and (max-width: 1000px){
  #media-magic {
    background-color: cornflowerblue;
  }
}
