@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body{
  background-image: linear-gradient(to top, #a0afb3, #77d2ff, #99bdff, #bda5f5);
  height: 100vh;
}

h1 {
    font-size: ;
    font-family: 'Roboto Slab', serif;
    padding: ;
    width: fit-content;
    margin: auto;
    font-weight: ;
    text-decoration: ;
    color: ;
    background-color: ;
}

h2 {
    font-size: ;
    font-family: sans-serif;
    padding-top: 25px;
    width: fit-content;
    margin: auto;
    font-weight: ;
    text-decoration: underline;
    color: ;
    background-color: ;
}

em {
  width: fit-content;
  margin: auto;
  font-weight: bold;
}

p {
    font-family: ;
    font-size: large;
    padding: ;
    margin: .75em 20%;
    text-align: justify;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: ;
    position: fixed;
    bottom: 1%;
    left: 1%;
    height: 100px;
    width: 100px;
}
